<main class="main">


    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center " style="background-image: url('assets/img/page-header.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Sample Inner Page</h2>
              <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas
                consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione
                sint. Sit quaerat ipsum dolorem.</p>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="inicio">Home</a></li>
            <li>Cotizaciones</li>
          </ol>
        </div>
      </nav>
    </div>
    <h2>Formulario de Cotización</h2>
  
    <div class="container" *ngFor="let cotizacion of arrCot">  
      
  
      <form class="contenedorAdd" [formGroup]="formulario" (ngSubmit)="onSubmit()" >
  
        <div class="Columna">
          <label for="idCot">ID de Cotización:</label>
          <input type="number" value={{ cotizacion.idCot }}  id="idCot" formControlName="idCot" required value="3">
  
          <label for="Cliente">Cliente:</label>
          <input type="text" value={{ cotizacion.Cliente }} id="Cliente" formControlName="Cliente" required >
  
       
        </div>
  
      </form>
  
    </div>
  
  
  
  
  
  
  </main>