<header id="header" class="header d-flex align-items-center fixed-top">

  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="inicio" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <!-- <h1>CYGCARGOSAS</h1> -->
      <img class = "logo" src="assets/img/LOGO_BLANCO.png" alt="logo" >
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="inicio" class="active">Home</a></li>
        <li><a href="somos">Somos</a></li>
        <!--  -->

        <li class="dropdown"><a href="servicos"><span>Servicios</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="ServiciosDetails">Detalle de servicios</a></li>
            <li><a href="#">Terrestre</a></li>
            <li><a href="#">Aereo</a></li>
            <li><a href="#">Maritimo</a></li>
          </ul>
          <ul>

          </ul>
        </li>


        <!--  -->

        <li><a href="pricing">Precios</a></li>

        <!--  -->
        <li class="dropdown" *ngIf="userServices.isLogged()">
          <a href="#"><span>Cliente</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="cotizaciones">Cotizaciones</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i
                  class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>                
                <li><a href="cotizaciones">Cotizaciones</a></li>
                <li><a href="AddCotizaciones">Agregar Cotizacion</a></li>
                <li><a href="#">Editar cotizaciones</a></li>
                <li><a href="#">borrar cotizaciones</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
          <ul>

          </ul>
        </li>

        <!--  -->
        <li><a href="contactenos">Contactenos</a></li>
        <li><a class="get-a-quote" href="inicio">Get a Quote</a></li>
        <li>
          <button *ngIf="!userServices.isLogged()" type="button" class="btn btn-success" routerLink="login"
            routerLinkActive="active">

            Login</button>

        </li>

        <li *ngIf="userServices.isLogged()">
          <button (click)="onClickLogout()" type="button" class="btn btn-secondary">
            logout
          </button>
        </li>
      </ul>
    </nav><!-- .navbar -->


  </div>

</header>